.absences {
    --cell-size: 35px;
    --names-width: calc(var(--cell-size) * 4);
    --entries-width: calc(100% - var(--names-width));
    --font-size: calc(var(--cell-size) / 3.125);
    --cell-border: 1px solid rgba(34, 36, 38, 0.1);
    --border-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.absences {
    display: flex;
    width: 100%;
    padding: 2rem;
    box-shadow: var(--border-shadow);
}

.absences-names-container {
    display: flex;
    flex-direction: column;
    width: var(--names-width);
}

.absences-names-header{
    height:calc(var(--cell-size)*3);
}

.absences-names-body{
    display:flex;
    flex-direction:column;
}

.absences-name {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #1a69a4;
    border-bottom: 1px solid white;
    height: var(--cell-size);
}

.absences-name > label {
    color: #f2f2f2;
    font-size: var(--font-size);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.absences-entries-container {
    display: flex;
    flex-direction: column;
    width: var(--entries-width);
    overflow-x: auto;
    box-shadow: var(--border-shadow);
}

.absences-entries-header{
    height:calc(var(--cell-size)*2);
}

.absences-years{
    display:flex;
    height:var(--cell-size);
}

.absences-time-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-bottom:4px;
    border-radius: 0.5rem;
}

.absences-years > .absences-time-box{
    background-color:#555555;
    color:white;
}

.absences-months > .absences-time-box:nth-child(2n){
    background-color:darkseagreen;
    color:white;
}

.absences-months > .absences-time-box:nth-child(2n + 1){
    background-color:cadetblue;
    color:white;
}

.time-text{
    font-weight:bold;
}

.absences-months{
    display:flex;
    height:var(--cell-size);
}

.absences-entries-body {
    display: flex;
    flex-direction: row;
}

.absence-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.absence-cell {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
    border-top: var(--cell-border);
    border-right: var(--cell-border);
    height: var(--cell-size);
    width: var(--cell-size);
}

.absence-column:first-child > .absence-cell {
    border-left: var(--cell-border);
}


.absence-cell:last-child {
    border-bottom: var(--cell-border);
}

.absence-header-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    padding: 0 1px;
}

.absence-header {
    width: 100%;
    color: #f2f2f2;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: indianred;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: var(--cell-size);
    font-size: var(--font-size);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.absence-header > p {
    margin: 0;
    padding: 0;
}

.absence-day-name {
    color: #333333;
    background-color:#f2f2f2;
    width:80%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: var(--border-shadow);
    -moz-box-shadow: var(--border-shadow);
    box-shadow: var(--border-shadow);
}
