<div class="ui grid container">
  <div class="row">
    <div class="absences">
      <div class="absences-names">
        <%= render_absence_names(dummy_users) %>
      </div>
      <div class="absences-entries">
        <%= render_absence_entries(31) %>
      </div>
    </div>
  </div>
</div>